<div class="card">
    <!-- <div class="card-header">
        Filtros
    </div>
    <div class="card-body">
        <div class="form-group">
            <label for="de">De</label>
            <input type="number" id="de" class="form-control">
        </div>
        <div class="form-group">
            <label for="ate">Até</label>
            <input type="number" id="ate" class="form-control">
        </div>
        <div class="d-grid col-6 mx-auto">
            <button class="btn btn-primary my-4">Filtrar</button>
        </div>
    </div> -->
    <div class="card-header text-center">
        Cadastro e Atualização da Biblioteca
    </div>
    <form [formGroup]="movieForm">
        <div class="form-group">
            <div class="form-floating">
                <input type="text" class="form-control" formControlName="name" id="name" placeholder="Digite o nome do filme">
                <label for="Nome">Nome</label>
            </div>
            <div class="form-floating">
                <input type="text" class="form-control" formControlName="durationInMinutes" id="durationInMinutes" placeholder="Insira a duração do filme">
                <label for="durationInMinutes">Duração em minutos</label>
            </div>
            <div class="form-floating">
                <input type="text" class="form-control" formControlName="genre" id="genre" placeholder="Digite o gênero do filme">
                <label for="genre">Gênero</label>
            </div>
            <div class="form-floating">
                <input class ="" type="text" class="form-control" formControlName="url" id="url" placeholder="Insira uma URL contendo a imagem do filme">
                <label for="url">URL de imagem do filme</label>
            </div>
            <div class="row my-4">
                <div class="d-flex justify-content-around form-group col-12">
                    <button class="btn btn-outline-success" (click)="create()">Criar</button>
                    <button class="btn btn-outline-primary">Atualizar</button>
                </div>
            </div>
        </div>
    </form>
</div>
